@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Roboto:wght@500&display=swap');

body{
  /* font-family: 'Jost', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

/* nav{
  z-index: 10001 !important;
} */